@using WebTask1.Models;
@{
    Layout = "~/Views/Layout/_Layout1.cshtml";

    if (IsPost)
    {
        var Title = Request["Title"];

        JsonConverter jsonConverter = new JsonConverter();

        if (!jsonConverter.CheckAwardInDict(Title))
        {
            Award award = new Award(GenerationId.GenerateHash(), Title);
            jsonConverter.AddAwardsOnDict(award);
            jsonConverter.WriteAwardsOnFile();
            Response.Redirect("/");
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Награда уже существует!
            </div>
        }
    }
}

<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Название награды...</label>
        <input name="Title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
