body{
    background-color: rgb(78, 98, 122);
}
figcaption{
    color: rgb(238, 103, 47);
}
p{
    text-align: center;
}
.AroundTheEdgesLeft{
    padding-left: 10px;
}
.AroundTheEdgesRight{
    padding-left: 5px;
}
img{
    margin-bottom: 10px;
}
ul{
    background-color: white;
    border-radius: 10px;
    width: 900px;
    margin: 10px auto;
    box-shadow: 0px 0px 50px 5px rgb(15, 19, 24);;
}
li{
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}
.VirtualHosting{
    border-right: 1px solid rgba(109, 109, 109, 0.849);
    margin: 10px auto;
    padding-right: 30px;
    padding-left: 5px;
}
.DedicatedServer{
    border-left: 1px solid rgba(109, 109, 109, 0.849);
    margin: 10px auto;
    padding-left: 50px;
}
input{
    color: white;
    background-color: rgb(238, 103, 47);
    border: solid rgb(238, 103, 47);
    border-radius: 5px;
    position: relative;
    bottom: 5px;
    left: 30%;
}